*{
    overflow: auto;
}
body{
    background-color: rgb(127, 178, 255);
    font-family: Arial;
}
.center{
    text-align: center;
    width:100%;
}
div.line{
    height: 1px;
    width: 100px;
    background-color: black;
    margin-left:auto;
    margin-right:auto;
}
div.category{
    display: block;
    margin-bottom: -18px;
    
}
p.category{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0px;
}
div.content{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.15);
    overflow: visible;
}
h1{
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
}
p.descrip{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size:15px;
}
div.info{
    
    position:relative
}
table.info{
    position:absolute; 
    bottom:0; 
    width:100%; 
    color:white; 
    background-color: #1186b4c0; 
    height:80px; 
}
table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 55px;
}
table.info th{
    vertical-align: bottom;
    font-size: 40px;
}
img.info{
    display:block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: rgb(177, 176, 176);
}
div.col{
    width: 45%;
    margin-top: 20px
}
div.col h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 7px solid rgb(61, 96, 172);
    padding-bottom: 5px;
}
div.col1{
    display: inline-block;
    margin-right: 10%;
}
div.col2{
    float: right;
}
div.ingredients p{
    text-align: center;
    font-size: 14px;
    border: 2px solid lightgrey;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0px;
}
table.instructions p.number{
    background-color: rgb(61, 96, 172);
    color: white;
    font-size: 14px;
    font-weight: bold;
    width:25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin:0;
}

table.instructions td.tdin{
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
table.instructions td{
    vertical-align: top; 
}
table.instuctions tr {
    height: 70px;
}
@media only screen and (min-width: 800px) {
    div.content{
        margin: 0% 10% 80px 10%;
        padding: 30px;
        min-width: 350px;
    }
    table.info td{
        font-size: 14px;
    }
    table.info th{
        font-size: 16px;
    }
}